* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.board {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
}

.board::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/src/Assets/Images/background_grass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -2;
}

h1 {
  text-align: center;
}

.card-item-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16.625rem;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #666666;
  box-shadow: 10px 10px 20px rgba(49, 75, 105, 0.3),
    0 10px 10px rgba(49, 75, 105, 0.3);
  border-radius: 4px;
  margin-bottom: 16px;
  transition-duration: 0.3s;
}

.title-task {
  color: #221c1d;
  margin-bottom: 10px;
}

.user-task {
  color: #221c1d;
  margin-bottom: 10px;
}

.card-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (max-width: 1018px) {
  .card-row-wrapper {
    justify-content: center;
    margin: 0 auto;
  }
}

.card-row-item-todo, .card-row-item-inprogress, .card-row-item-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 18.625rem;
  border: 1px solid #e5e5e5;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.27);
  padding: 20px;
  margin-bottom: 16px;
}

.card-iem_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button-change, .button-done, .button-up, .button-down, .button-delete, .button-modal {
  width: 150px;
  margin-bottom: 15 px;
}

.button-add {
  padding: 5px 40px;
}

h3 {
  color: #ffffff;
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.27);
}

.modal-item {
  position: absolute;
  right: 30%;
  left: 30%;
  top: 20%;
  background-color: rgba(3, 36, 30, 0.966);
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2b2e4a;
    opacity: 0.5;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #313454;
    opacity: 0.5;
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
  }
}